export ARTIFACTORY_HOME={{artifactory_home}}
export ARTIFACTORY_USER={{artifactory_username}}

export TOMCAT_HOME={{artifactory_home}}/tomcat
export ARTIFACTORY_PID=$ARTIFACTORY_HOME/run/artifactory.pid

export JAVA_OPTIONS="-server -Xmx768m -XX:PermSize=128m -XX:MaxPermSize=128m"